body{
    background-color: #333333;
    color: white;
}


.app{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1em;
}
button{
    background-color: transparent;
    color: white;
    padding: 0;
}

h1{
    // border-bottom: 1px solid rgba(177, 177, 177, 0.363);
    margin-bottom: 1em;
}