.audioPlayer {
  z-index: 3;
  position: fixed;
  bottom: 0%;
  width: 100vw;
  background-color: #1b1a22;
  transition: 1s ease transform;
  transform: translatey(100%);
  opacity: 0;
  border-top: 1px solid rgb(70, 67, 87);
}

.loaded {
  transform: translatey(00%);
  opacity: 1;
}

.audioPlayerLayout {
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;

  &__info {
  }
  &__progress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    svg {
      height: 100%;
      font-size: 40px;
    }
  }
}

#seekBar {
  width: 50vw;
  max-width: 800px;
  border: none;
  cursor: pointer;
  position: relative;
}



.audioPlayer {
  input[type="range"] {
    width: 100%; /* Specific width is required for Firefox. */
    background: rgb(5, 4, 88); /* Otherwise white in Chrome */
    border-radius: 5px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    background: #7e7e7e;
    cursor: pointer;
  }

  #volumeSlider {
    // transform: rotate(-90deg);
    // height: 0;
  }
}
// @media(max-width: 800px){
//   #volumeSlider{
//     display: none;
//   }
// }
#volumeSlider{
  display: none;
}

// @supports (-webkit-touch-callout: none) {
//   .iosAudioToggle{
//     display: block;
//   }
// }
// .iosAudioToggle{
//   display: none;
// }