.ListItemsSmall{
    color: white;

    .layer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    img{
        width: 25%;
    }
    

    a{
        color: white;
    }
}