.productPage {
  .hero {
    display: flex;
    justify-content: space-between;

    div {
      width: 50%;
    }
  }

  .productInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__top{

      }
      &__bottom{
        svg, button{
            font-size: 4em;
        }
      }
  }
}
